# Stack Científica Básica do Python para Análise de Dados
numpy>=1.22.0
pandas>=1.4.0
scipy>=1.8.0
statsmodels>=0.13.0
scikit-learn>=1.0.0

# Visualização de Dados
matplotlib>=3.5.0
seaborn>=0.11.0

# Suporte ao Jupyter e Quarto
ipykernel
jupyter
